
.cart-item{
 
}
.description{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;
}
.img-fluid{
  width: 150px;
}

.quantity{
  padding: 1rem;
}
.close{
  justify-content: flex-end;
}